<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password from Workase</title>
  </head>
  <body>
    <p>Excuse me, i send an email to reset your password account</p>
    <p>Please to reset your password account before 3 days from this message
      recieved</p>
    <p>Click here to reset your password account :
      <a
        href="https://riya-l-kasir-web-app.vercel.app/reset-password/{{token}}"
      >Reset Password</a></p>
  </body>
</html>